.project {
    padding-top: 50px;
    height: 890px;
    background: linear-gradient(45deg, rgba(210, 66, 192, 0.18), #acb5bd);
}

.project-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
}

.section-title-project {
    padding: 20px;
    margin: 71px;
    text-align: center;
    margin-bottom: 37px;
    font-family: "Archivo Black ", sans-serif;
    padding-left: 7px;
    font-size: 2em;
    line-height: 1;
    text-transform: uppercase;

    p.gradient-text {
        font-size: 2em;
        background-color: red;
        background-image: linear-gradient(45deg, #007bff, rgba(0, 0, 0, 0.31));
        background-size: 100%;
        background-repeat: repeat;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-background-clip: text;
        -moz-text-fill-color: transparent;
    }
}

.card {
    flex: 30px;
    margin: 30px;
    height: 400px;
    border: 1px solid rgba(223, 21, 230, 0.342);
    max-width: 300px;
    position: relative;
    border-radius: 10px;

    &:hover {
        border: 4px dashed hotpink
    }


}

.card-content {
    padding: 30px;
    width: 100%;
    height: 400px;
    border: 5px solid rgba(14, 12, 133, 0.616);
    display: block;
    cursor: pointer;
    border-radius: 10px;
    transition: .4s ease-in;

}

.card-display h2 {
    font-size: 30px;
    margin: 70px auto;

}

.card-hover {
    display: none;

    p {
        font-size: 17px;
        margin-bottom: 30px;
        text-align: left;
    }

    a {
        font-size: 20px;
        ;
        color: 5bc0eb;
    }
}

.card:hover .card-content:hover {
    transform: translate(-30px, -30px);
}

.card:hover .card-display {
    display: none;
}

.card:hover .card-hover {
    display: block;
}