.project {
    padding-top: 50px;
    height: 890px;
    background: linear-gradient(45deg, rgba(210, 66, 192, 0.18), #acb5bd);
}

.project-card {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
}

.section-title-project {
    padding: 20px;
    margin: 71px;
    text-align: center;
    margin-bottom: 37px;
    font-family: "Archivo Black ", sans-serif;
    padding-left: 7px;
    font-size: 2em;
    line-height: 1;
    text-transform: uppercase;

    p.gradient-text {
        font-size: 2em;
        background-color: red;
        background-image: linear-gradient(45deg, #007bff, rgba(0, 0, 0, 0.31));
        background-size: 100%;
        background-repeat: repeat;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-background-clip: text;
        -moz-text-fill-color: transparent;
    }
}


// @media (max-width: 1833px) {
//     .project {

//         height: auto;
//     }
// }

// @media (max-width: 990px) {
//     .project-card {
//         display: flex;
//         flex-direction: column;
//         flex-wrap: nowrap;
//         justify-content: space-evenly;
//         text-align: center;
//         align-items: center;
//     }
// }

.project__wrapper{
    position:relative;
    width:315px;
    height:500px;
    box-shadow: 0px 7px 10px rgba(0,0,0 ,25);
    transition: transform 1s cubic-bezier(.68, -.55, .265, 1.55),box-shadow .7s cubic-bezier(.455, .03, .515, .955);
    transform-style:preserve-3d;
     border:3px solid #CCCCFF;

    &:hover{
        box-shadow: 0 4px 40px 5px rgba(0, 0, 0 , .5);
        transform: rotateX(0) rotateY(-180deg) rotateZ(0);
        }
  }
  .project__front{
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    box-shadow: 0px 4px 0 rgba(0,0,0 ,.25);
    transform:rotate(0);
    
  }
  .project__title{
    display:flex;
    width:100%;
    height:80px;
    justify-content:center;
    align-items:center;
    background-color: #FFFFFF;
  }
  .project__front_img {
      
        img{
            width:100%;
            height:430px;
            display:inline-block;
        }
       

  }
  .project__back{
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    backface-visibility:hidden;
    transform:rotateX(0) rotateY(180deg) rotateZ(0);
    transform-style: preserve-3d;
  }
  .gradient_bar {
    height:8px;
   background-image: linear-gradient(
  180deg
  ,hsla(0,0%,95.7%,.25),hsla(0,0%,95.7%,.25)),linear-gradient(
  135deg
  ,#ce479a,#f2405d 50%,#e56d43);
    
  }
  .project__back_content{
    position:relative;
    display:flex;
    height:500px;
    justify-content:center;
    
    background-color: #ffff;
    p {
        padding-right: 33px;
          padding-left: 33px;
          text-align: left;
          margin-top: 20px;
      }

      
  }
  .project__back__img{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px auto;
    padding: 10px;
    width: 61px;
    height: 61px;
    :hover{
      background: #e83e8c9e;
      border: 1px solid #e83e8c70;
      border-radius: 100%;
    }
    img{
      cursor: pointer;
      margin:20px;
      height: 60px;
      width: 60px;
    }
    a{
      cursor: pointer;
    }
   
  }
  .stacks{
    margin-top: 47px;
    padding: 10px;
    border: 3px solid #e9ecef;
    border-radius: 10px;
    background: #f8f9fa;
    box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
    p{
    padding-left: 23px;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 2px;
    color: #2736a3;
    font-weight: bolder;
    text-decoration: underline;
    font-style: italic;
    }
   
  }
  .project_technos{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:flex-start;
    margin: 10px 5px 10px 5px;
    

    li{
    list-style: none;
    color: #2736a3;
    background-color: #dde0f4;
    font-size: 0.8rem;
    padding: 6px 8px 2px 8px;
    border-radius: 2px;
    border: 1px solid #2736a3;
    margin: 8px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 5px;
    }
  }
  
  
  .project__site {
    position:absolute;
    left:0;
    bottom:0;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-bottom:23px;
    margin-left:33px;
    p{
        margin-bottom: 0;
       color: #d8d8d8;
        line-height: 20px;
       }
  }
  


//   #33b5e55c