@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

.skill {
    height: 950px;


}

.section-title-skills {
    padding: 20px;
    margin: 71px;
    text-align: center;
    margin-bottom: 37px;
    font-family: "Archivo Black ", sans-serif;
    padding-left: 7px;
    font-size: 2em;
    line-height: 1;
    text-transform: uppercase;

    p.gradient-text {
        font-size: 2em;
        background-color: red;
        background-image: linear-gradient(45deg, hsl(57, 39%, 56%), #af4261);
        background-size: 100%;
        background-repeat: repeat;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-background-clip: text;
        -moz-text-fill-color: transparent;

    }

}


.skill-box {
    display: inline-grid;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 20px 30px;
    padding: 30px;
    width: 250px;
    height: 250px;
    background: rgba(255, 255, 255, 0.938);
    border-radius: 75px;
    border: 2px solid;
    font-size: 20px;
    font-weight: lighter;
    letter-spacing: 2px;
    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.5);
    transition: 1s box-shadow;

    img {
        width: 158px;
        height: 115px;
    }
}

.skill-box:hover {
    box-shadow: 0 5px 35px 0px rgba(0, 0, 0, .1);
}

.skill-box:hover:before,
.skill-box:hover:after {
    display: block;
    content: '';
    position: absolute;
    width: 250px;
    height: 250px;
    background: #FDA8CF;
    border-radius: 75px;
    z-index: -1;
    animation: 1s clockwise infinite;
}

.skill-box:hover:after {
    background: rgb(233, 231, 225);
    animation: 2s counterclockwise infinite;
}

@keyframes clockwise {
    0% {
        top: -5px;
        left: 0;
    }

    12% {
        top: -2px;
        left: 2px;
    }

    25% {
        top: 0;
        left: 5px;
    }

    37% {
        top: 2px;
        left: 2px;
    }

    50% {
        top: 5px;
        left: 0;
    }

    62% {
        top: 2px;
        left: -2px;
    }

    75% {
        top: 0;
        left: -5px;
    }

    87% {
        top: -2px;
        left: -2px;
    }

    100% {
        top: -5px;
        left: 0;
    }
}

@keyframes counterclockwise {
    0% {
        top: -5px;
        right: 0;
    }

    12% {
        top: -2px;
        right: 2px;
    }

    25% {
        top: 0;
        right: 5px;
    }

    37% {
        top: 2px;
        right: 2px;
    }

    50% {
        top: 5px;
        right: 0;
    }

    62% {
        top: 2px;
        right: -2px;
    }

    75% {
        top: 0;
        right: -5px;
    }

    87% {
        top: -2px;
        right: -2px;
    }

    100% {
        top: -5px;
        right: 0;
    }
}

@media (max-width: 1833px) {
    .skill {

        height: auto;
    }
}